:root{
    --mainColor: rgb(255, 218, 232);
    --accentColor: rgb(247, 19, 106);
    --secondaryAccent: rgb(228, 206, 255);
    --textColor: rgb(0, 0, 0);
}
body{
    background-color: var(--mainColor);
}

header{
    display: flex;
    justify-content: flex-end;
    background-color: var(--mainColor);
    padding: 1em;
    align-items: baseline;

    
}
main{
    background-color: var(--secondaryAccent);
    padding: 2em;
    text-align: center;
}

h1{
    margin-right: auto;

}
.timer{

}

h2{
    text-align: center;
    font-size: 3em;
    padding-bottom: .5em;
}
p{
    text-align: center;
    font-weight: bold;
    padding-bottom: 1em;
    
}
.questions-container-hidden{
    display: none;
}
.questions-container{
    padding: 1em;
    border: 5px solid var(--accentColor);
    display: block;
    background-color: var();
    justify-content: center;
    background-color: var(--mainColor);
    
}

.start-game{
    background-color: var(--accentColor);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 1.5em;
    text-align: center;
    width: 10%;
    border-radius:10%;
    
}

.question{
font-weight: bold;
}

.hide {
    display: none;
}

.btn{
    background-color: var(--secondaryAccent);
    padding: .5em;
    border-radius: 5%;

}


.highscore{
    display: block;
    
}