:root{
    --mainColor: rgb(255, 218, 232);
    --accentColor: rgb(247, 19, 106);
    --secondaryAccent: rgb(228, 206, 255);
    --textColor: rgb(0, 0, 0);
}
body{
    background-color: var(--mainColor);
}

header{
    display: flex;
    justify-content: center;
    background-color: var(--mainColor);
    padding: 1em;
    align-items: baseline;

    
}
main{
    background-color: var(--secondaryAccent);
    padding: 2em;
    text-align: center;
}

h1{
    margin-right: auto;

}
h2{
    text-align: center;
    font-size: 3em;
    padding-bottom: .5em;
}
h3{
    font-size: 2em;
    padding-bottom: ;
}
.timer-box{
    background-color: var(--secondaryAccent);
    border: 2px solid black;
    padding: .5em;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
}


p{
    text-align: center;
    font-weight: bold;
    padding-bottom: .2em;
    font-size: 2em;
    
}
.questions-container-hidden{
    display: none;
}
.questions-container{
    padding: 2em;
    border: 5px solid var(--accentColor);
    display: block;
    background-color: var();
    justify-content: center;
    background-color: var(--mainColor);
    
}

.start-game{
    background-color: var(--accentColor);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 1.5em;
    text-align: center;
    width: 10%;
    border-radius:10%;
    
}

.question{
font-weight: bold;
padding: 1em;
font-size: 2em;
}

.hide {
    display: none;
}

.btn{
    background-color: var(--secondaryAccent);
    padding: .5em;
    border-radius: 5%;
    font-weight: bold;
    font-size: 1.25em;

}

.restart-btn{
    background-color: var(--secondaryAccent);
    padding: .5em;
    border-radius: 5%;
    font-weight: bold;
    font-size: 1.25em;
}

.btn:hover{
    background-color: var(--accentColor);
}

.restart-btn:hover{
    background-color: var(--accentColor);
}
.highscore{
    display: initial;

}
.answers{
    padding: 1em;
}
button{
    margin: 1em;
}

.highscore-list{
    font-weight: bold;
    font-size: 1.5;
    padding: 1.5em;
    border: 5px solid var(--accentColor);
    display: block;
    background-color: var();
    justify-content: center;
    background-color: var(--mainColor);
    
    width: 20%;
    margin: 1em auto;
}

label{
    font-weight: bold;
}

form{
    padding:1em 0 1em 0 ;
}